.question-number-item {
  margin-right: 12px;
  margin-bottom: 16px;
  list-style-type: none;
}

.question-number-button {
  display: flex;
  justify-content: center;
  color: #64748b;
  background-color: #fafbfe;
  font-family: 'Roboto';
  font-size: 14px;
  border: 1px solid #e2e8f0;
  border-radius: 4px;
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: 12px;
  max-width: 32px;
  cursor: pointer;
  outline: none;
  line-height: 1.2;
}

.answered-question-number {
  background-color: #ebe6f1;
  border: 1px solid #7c599f;
}

.active-question-number {
  background-color: #eff6ff;
  border: 1px solid #60a5fa;
}
