.image-item {
  margin-right: 12px;
  margin-bottom: 12px;
  list-style-type: none;
}

@media screen and (min-width: 992px) {
  .image-item {
    margin-right: 24px;
    margin-bottom: 24px;
  }
}

.image-button {
  background-color: transparent;
  border: none;
  padding: 0px;
  cursor: pointer;
  outline: none;
}

.image {
  width: 134px;
  border: 2px solid transparent;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .image {
    min-width: 145px;
  }
}

@media screen and (min-width: 992px) {
  .image {
    min-width: 190px;
    max-width: 249px;
  }
}

.active {
  border: 2px solid #5b6f94;
}
