.button-option-item {
  margin-bottom: 16px;
  list-style-type: none;
  max-width: 300px;
  flex-grow: 1;
}

@media screen and (min-width: 768px) {
  .button-option-item {
    width: 42%;
    margin-right: 32px;
    margin-bottom: 32px;
    max-width: 323px;
  }
}

.button-option {
  text-align: left;
  color: #334155;
  background-color: #ebf3ff;
  font-family: 'Roboto';
  font-size: 16px;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 8px;
  padding: 16px;
  cursor: pointer;
  outline: none;
  line-height: 1.3;
}

@media screen and (min-width: 768px) {
  .button-option {
    font-size: 20px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    line-height: 1.5;
  }
}

.selected-button {
  color: #f8fafc;
  background-color: #5b6f94;
}
