.assessment-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.assessment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.assessment-responsive-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-top: 16px;
  margin-bottom: 16px;
  max-width: 568px;
  flex-grow: 1;
}

@media screen and (min-width: 768px) {
  .assessment-responsive-container {
    flex-direction: row;
    justify-content: center;
    margin-top: 64px;
    margin-bottom: 64px;
    max-width: 1440px;
  }
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-grow: 1;
  align-self: center;
}

.failure-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  align-self: center;
  flex-grow: 1;
}

@media screen and (min-width: 768px) {
  .failure-view-container {
    margin-top: 0px;
  }
}

.failure-view-img {
  width: 328px;
}

@media screen and (min-width: 768px) {
  .failure-view-img {
    width: 475px;
  }
}

.failure-view-heading {
  color: #475569;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  margin: 0px;
  margin-top: 32px;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .failure-view-heading {
    font-weight: 500;
    font-size: 36px;
    margin-top: 48px;
    line-height: 1.2;
  }
}

.failure-view-description {
  color: #64748b;
  font-family: 'Roboto';
  font-size: 16px;
  margin: 0px;
  margin-top: 16px;
  line-height: 1.33;
}

@media screen and (max-width: 768px) {
  .failure-view-description {
    text-align: center;
    font-size: 14px;
    width: 241px;
    margin-top: 8px;
  }
}

.retry-button {
  color: #ffffff;
  background-color: #164687;
  font-weight: 600;
  font-family: 'Roboto';
  font-size: 12px;
  border: none;
  border-radius: 4px;
  margin-top: 24px;
  padding-top: 12px;
  padding-right: 32px;
  padding-bottom: 12px;
  padding-left: 32px;
  cursor: pointer;
  outline: none;
  line-height: 1.33;
}

@media screen and (max-width: 768px) {
  .retry-button {
    margin-top: 32px;
  }
}
